<%- include("partials/header") -%>

  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <h2>The Art Blog For Empaths!</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card border-0">
          <img
            src="https://images.unsplash.com/photo-1530903677198-7c9f3577a63e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1124&q=80">

  
          <h2>10 Reasons Why You Need a Therapist</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <a href="/post_01" class="blue-button">...Read More</a>
         
        </div>
      </div>
      </a>
    </div>
  </div>

 

















  <%-include("partials/footer")-%>